@model Proyecto_PrograAvanzada.Models.Tecnico

<h1 class="delete-title">Eliminar</h1>

<h3 class="delete-subtitle">¿Seguro(a) que desea eliminar el técnico?</h3>
<div class="delete-container">
    <h4 class="delete-section">Tecnico</h4>
    <hr />
    <dl class="row delete-details">
        <dt class="col-sm-2 delete-label">
            @Html.DisplayNameFor(model => model.Especialidad)
        </dt>
        <dd class="col-sm-10 delete-value">
            @Html.DisplayFor(model => model.Especialidad)
        </dd>
        <dt class="col-sm-2 delete-label">
            @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
        </dt>
        <dd class="col-sm-10 delete-value">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.IdUsuario)
        </dd>
    </dl>
    
    <form asp-action="Delete" class="delete-form">
        <input type="hidden" asp-for="IdTecnico" />
        <input type="submit" value="Eliminar" class="btn btn-danger delete-button" /> |
        <a asp-action="Index" class="btn btn-secondary return-button">Volver a la lista</a>
    </form>
</div>
