@model Proyecto_PrograAvanzada.Models.Tecnico

<div class="container mt-4">
    <div class="details-container">
        <h1 class="details-title">Detalles del Técnico</h1>

        <dl class="row">
            <dt class="col-sm-3">Especialidad</dt>
            <dd class="col-sm-9">@Model.Especialidad</dd>

            <dt class="col-sm-3">Usuario</dt>
            <dd class="col-sm-9">@Model.IdUsuarioNavigation.Nombre</dd>
        </dl>

        <div class="text-center">
            <a asp-action="Edit" asp-route-id="@Model.IdTecnico" class="btn btn-primary"><i class="bi bi-pencil"></i> Editar</a>
            <a asp-action="Index" class="btn btn-secondary"><i class="bi bi-arrow-left"></i> Volver</a>
        </div>
    </div>
</div>
