@model Proyecto_PrograAvanzada.Models.Tecnico

<h1 class="details-title">Detalles</h1>

<div lass="details-container">
    <h4 class="details-section">Técnico</h4>
    <hr />
    <dl class="row details-details">
        <dt class="col-sm-2 details-label">
            @Html.DisplayNameFor(model => model.Especialidad)
        </dt>
        <dd class="col-sm-10 details-value">
            @Html.DisplayFor(model => model.Especialidad)
        </dd>
        <dt class="col-sm-2 details-label">
            @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
        </dt>
        <dd class="col-sm-10 details-value">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.IdUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdTecnico" class="btn btn-primary details-edit-button">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary details-return-button">Volver a la lista</a>
</div>
