# Ignorar directorios de build y dependencias
/node_modules/
/bin/
/obj/
/.vs/
/Debug/
/Release/

# Ignorar archivos temporales y del sistema operativo
*.log
*.tmp
.DS_Store
Thumbs.db

# Ignorar configuraciones específicas del sistema
*.suo
*.user
*.cache

# Ignorar archivos de configuración generados por IDE
*.ide.*
*.vsidx
*.editorconfig

# Ignorar archivos de configuración específicos de tu proyecto
Proyecto_PrograAvanzada/.vs/

# No ignorar archivos importantes para el proyecto
!*.cs
!*.cshtml
!*.json