# Ignorar directorios
/node_modules/
/bin/
/obj/

# Ignorar archivos específicos
*.log
*.tmp

# Ignorar configuraciones específicas del sistema operativo
.DS_Store
Thumbs.db
Proyecto_PrograAvanzada/.vs/Proyecto_PrograAvanzada/config/applicationhost.config
Proyecto_PrograAvanzada/.vs/Proyecto_PrograAvanzada/FileContentIndex/9595553d-9064-4aa5-a260-d21ac73b4db3.vsidx
Proyecto_PrograAvanzada/.vs/Proyecto_PrograAvanzada/FileContentIndex/c1757bf5-89cc-4ec9-8ba0-44f6cfd1ccac.vsidx
Proyecto_PrograAvanzada/.vs/Proyecto_PrograAvanzada/FileContentIndex/ec7e7153-1223-4673-940a-d0e8300589be.vsidx
Proyecto_PrograAvanzada/.vs/Proyecto_PrograAvanzada/v17/.suo
Proyecto_PrograAvanzada/.vs/Proyecto_PrograAvanzada/v17/DocumentLayout.json
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/bin/Debug/net8.0/appsettings.Development.json
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/bin/Debug/net8.0/appsettings.json
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/bin/Debug/net8.0/Proyecto_PrograAvanzada.deps.json
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/bin/Debug/net8.0/Proyecto_PrograAvanzada.dll
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/bin/Debug/net8.0/Proyecto_PrograAvanzada.exe
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/bin/Debug/net8.0/Proyecto_PrograAvanzada.pdb
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/bin/Debug/net8.0/Proyecto_PrograAvanzada.runtimeconfig.json
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/bin/Debug/net8.0/Proyecto_PrograAvanzada.staticwebassets.endpoints.json
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/bin/Debug/net8.0/Proyecto_PrograAvanzada.staticwebassets.runtime.json
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/ApiEndpoints.json
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/apphost.exe
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/Proyecto_PrograAvanzada.AssemblyInfo.cs
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/Proyecto_PrograAvanzada.AssemblyInfoInputs.cache
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/Proyecto_PrograAvanzada.assets.cache
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/Proyecto_PrograAvanzada.csproj.BuildWithSkipAnalyzers
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/Proyecto_PrograAvanzada.csproj.CoreCompileInputs.cache
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/Proyecto_PrograAvanzada.csproj.FileListAbsolute.txt
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/Proyecto_PrograAvanzada.dll
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/Proyecto_PrograAvanzada.GeneratedMSBuildEditorConfig.editorconfig
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/Proyecto_PrograAvanzada.genruntimeconfig.cache
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/Proyecto_PrograAvanzada.MvcApplicationPartsAssemblyInfo.cache
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/Proyecto_PrograAvanzada.pdb
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/Proyecto_PrograAvanzada.sourcelink.json
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/ref/Proyecto_PrograAvanzada.dll
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/refint/Proyecto_PrograAvanzada.dll
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/scopedcss/bundle/Proyecto_PrograAvanzada.styles.css
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/scopedcss/projectbundle/Proyecto_PrograAvanzada.bundle.scp.css
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/staticwebassets.build.endpoints.json
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/staticwebassets.build.json
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/staticwebassets.development.json
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/staticwebassets.pack.json
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/staticwebassets.upToDateCheck.txt
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/staticwebassets/msbuild.build.Proyecto_PrograAvanzada.props
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.Proyecto_PrograAvanzada.props
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.Proyecto_PrograAvanzada.props
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/staticwebassets/msbuild.Proyecto_PrograAvanzada.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/staticwebassets/msbuild.Proyecto_PrograAvanzada.Microsoft.AspNetCore.StaticWebAssets.props
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/project.assets.json
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/project.nuget.cache
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Proyecto_PrograAvanzada.csproj.nuget.dgspec.json
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Proyecto_PrograAvanzada.csproj.nuget.g.props
*.editorconfig
*.cache
*.cs
*.json
*.vsidx
Proyecto_PrograAvanzada/.vs/Proyecto_PrograAvanzada/FileContentIndex/c1757bf5-89cc-4ec9-8ba0-44f6cfd1ccac.vsidx
Proyecto_PrograAvanzada/.vs/Proyecto_PrograAvanzada/v17/.suo
Proyecto_PrograAvanzada/.vs/Proyecto_PrograAvanzada/v17/DocumentLayout.json
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/Proyecto_PrograAvanzada.AssemblyInfo.cs
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/Proyecto_PrograAvanzada.AssemblyInfoInputs.cache
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/Proyecto_PrograAvanzada.assets.cache
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/Proyecto_PrograAvanzada.GeneratedMSBuildEditorConfig.editorconfig
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/project.assets.json
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/project.nuget.cache
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Proyecto_PrograAvanzada.csproj.nuget.dgspec.json
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Proyecto_PrograAvanzada.csproj.nuget.g.props
Proyecto_PrograAvanzada/.vs/Proyecto_PrograAvanzada/FileContentIndex/c1757bf5-89cc-4ec9-8ba0-44f6cfd1ccac.vsidx
Proyecto_PrograAvanzada/.vs/Proyecto_PrograAvanzada/v17/.suo
Proyecto_PrograAvanzada/.vs/Proyecto_PrograAvanzada/v17/DocumentLayout.json
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/Proyecto_PrograAvanzada.AssemblyInfo.cs
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/Proyecto_PrograAvanzada.AssemblyInfoInputs.cache
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/Proyecto_PrograAvanzada.assets.cache
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/Proyecto_PrograAvanzada.GeneratedMSBuildEditorConfig.editorconfig
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/project.assets.json
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/project.nuget.cache
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Proyecto_PrograAvanzada.csproj.nuget.dgspec.json
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Proyecto_PrograAvanzada.csproj.nuget.g.props
*.vsidx
*.editorconfig
*.json
*.editorconfig
*.cs
*.json
*.vsidx
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/Proyecto_PrograAvanzada.AssemblyInfo.cs
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/Proyecto_PrograAvanzada.AssemblyInfoInputs.cache
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/Proyecto_PrograAvanzada.assets.cache
Proyecto_PrograAvanzada/Proyecto_PrograAvanzada/obj/Debug/net8.0/Proyecto_PrograAvanzada.GeneratedMSBuildEditorConfig.editorconfig
