@model Proyecto_PrograAvanzada.Models.HistorialEstado

<h1>Edit</h1>

<h4>Historial de Estado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdHistorial" />
            <div class="form-group">
                <label asp-for="IdSolicitud" class="control-label"></label>
                <select asp-for="IdSolicitud" class="form-control" asp-items="ViewBag.IdSolicitud"></select>
                <span asp-validation-for="IdSolicitud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoAnterior" class="control-label"></label>
                <input asp-for="EstadoAnterior" class="form-control" />
                <span asp-validation-for="EstadoAnterior" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoNuevo" class="control-label"></label>
                <input asp-for="EstadoNuevo" class="form-control" />
                <span asp-validation-for="EstadoNuevo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCambio" class="control-label"></label>
                <input asp-for="FechaCambio" class="form-control" />
                <span asp-validation-for="FechaCambio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comentarios" class="control-label"></label>
                <input asp-for="Comentarios" class="form-control" />
                <span asp-validation-for="Comentarios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
