@model Proyecto_PrograAvanzada.Models.Asignacion

<div class="container mt-4">
    <div class="form-container">
        <h1 class="form-title">Agregar Asignación</h1>

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="IdSolicitud"></label>
                <select asp-for="IdSolicitud" class="form-control" asp-items="ViewBag.IdSolicitud"></select>
                <span asp-validation-for="IdSolicitud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTecnico"></label>
                <select asp-for="IdTecnico" class="form-control" asp-items="ViewBag.IdTecnico"></select>
                <span asp-validation-for="IdTecnico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaInicio"></label>
                <input asp-for="FechaInicio" type="date" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCierre"></label>
                <input asp-for="FechaCierre" type="date" class="form-control" />
                <span asp-validation-for="FechaCierre" class="text-danger"></span>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-success"><i class="bi bi-check-circle"></i> Guardar</button>
                <a asp-action="Index" class="btn btn-secondary"><i class="bi bi-arrow-left"></i> Volver</a>
            </div>
        </form>
    </div>
</div>
