@model Proyecto_PrograAvanzada.Models.Usuario

<h1>Agregar usuario</h1>

<h4>Usuario</h4>
<hr />
<div class ="form-container">
    <h4 class="form-title">Detalles del Usuario</h4>
    <hr />
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form asp-action="Create" class="custom-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorreoElectronico" class="control-label"></label>
                <input asp-for="CorreoElectronico" class="form-control" />
                <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contraseña" class="control-label"></label>
                <input asp-for="Contraseña" class="form-control" />
                <span asp-validation-for="Contraseña" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rol" class="control-label"></label>
                <input asp-for="Rol" class="form-control" />
                <span asp-validation-for="Rol" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <input type="submit" value="Agregar" class="btn btn-primary custom-button" />
            </div>
        </form>
    </div>
</div>
</div>

<div class="text-center mt-4">
    <a asp-action="Index" class="btn btn-secondary return-button">Regresar a la lista</a>
</div>
