@model Proyecto_PrograAvanzada.Models.Usuario

<h1>Eliminar Usuario</h1>

<h3>¿Seguro(a) que desea eliminar este usuario?</h3>

<div class="delete-container">
    <dl class="row">
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.Nombre</dd>

        <dt class="col-sm-2">Apellido</dt>
        <dd class="col-sm-10">@Model.Apellido</dd>

        <dt class="col-sm-2">Correo Electrónico</dt>
        <dd class="col-sm-10">@Model.CorreoElectronico</dd>

        <dt class="col-sm-2">Rol</dt>
        <dd class="col-sm-10">@Model.Rol</dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdUsuario" />
        <input type="submit" value="Eliminar" class="btn btn-danger" onclick="return confirm('¿Está seguro que desea eliminar este usuario?');" />
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
