@model Proyecto_PrograAvanzada.Models.Usuario

<h1>Editar Usuario</h1>

<div class="form-container">
    <h4>Detalles del Usuario</h4>
    <hr />
    <form asp-action="Edit" class="custom-form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="IdUsuario" />

        <div class="form-group">
            <label asp-for="Nombre" class="control-label"></label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Apellido" class="control-label"></label>
            <input asp-for="Apellido" class="form-control" />
            <span asp-validation-for="Apellido" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CorreoElectronico" class="control-label"></label>
            <input asp-for="CorreoElectronico" class="form-control" />
            <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Contraseña" class="control-label"></label>
            <input asp-for="Contraseña" type="password" class="form-control" />
            <span asp-validation-for="Contraseña" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Rol" class="control-label"></label>
            <select asp-for="Rol" class="form-control">
                <option value="">Seleccione un rol</option>
                <option value="Administrador">Administrador</option>
                <option value="Usuario">Usuario</option>
                <option value="Técnico">Técnico</option>
            </select>
            <span asp-validation-for="Rol" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Guardar" class="btn btn-primary" />
        </div>
    </form>
    <div class="text-center mt-4">
        <a asp-action="Index" class="btn btn-secondary">Regresar a la lista</a>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
